.env
sql
.claude
.planning
.playwright-cli
*.log
*.tmp
*__pycache__/
*.DS_Store
*.pyc
*.pyo
docs
node_modules
dist
wireframes
screenshots

# Ignore the .env file which contains sensitive information such as database credentials and API keys.
*.env
config.toml
.streamlit
*.db
.streamlit/config.toml
.env

# Generated static clean HTML files (recreated by warmup thread at startup)
app/static/filings_clean/
app/static/filings/
